<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
   For GameBlockageType option, 
   None=0, Try first Internet, fallback to Local Database= 1 , Internet=2, Local database=3
   Default option is "Try first Internet, fallback to Local Database". You need net connectivity. 
   If you don't have net connection than use Local database option. None option is not recommended.
   -->
  <appSettings>
    <add key="language" value="English"/>
    <add key="BlockedGamesUrl" value="http://www.tepetaklak.com/data/CrapBlockedGames.xml"/>
    <add key="UpdateManifestUrl" value="http://www.tepetaklak.com/wiigsc/UpdateManifest.xml"/>
    <add key="UpdateBasePath" value="http://www.tepetaklak.com/wiigsc/updates/"/>
    <add key="IpAddressOfWii" value="192.168.2.5" />
    <add key="GameBlockageType" value="1"/>
    <add key="SelectedNandLoader" value="experimental-base.wxd"/>
    <add key="BannerLanguagePreference" value="1,2,3,4,0,5"/>
    <add key="Disclaimer" value="on"/>
    <add key="UseProxy" value="off"/>
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPass" value=""/> 
  </appSettings>
</configuration>
